@import "tailwindcss";

body{
  m:0;
  p:0;
  height: 100%;
  background-color: #0f172a;

}

.background_image{
  background-image: url('/src/assets/bg.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}